<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center light-green-text text-darken-2">Create your Own Quiz</h1>
      <div class="row center">
        <h5 class="header col s12 light">At the moment you have the chance to create two types of quizzes true or false, or multiple choice.</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/assets/images/diagmonds_@2X.png" alt="Change background for an original"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <form class="col s12">
        <div class="row">
    <div class="input-field col s12">
    <select id="questionType">
      <option value="" disabled selected>Choose your option</option>
      <option value="trueFalse">True or False</option>
      <option value="multipleChoice">Multiple Choice</option>
    </select>
    <label>Type of Quiz</label>
    </div>
      </form>
  <div class="row center">
    <a id="create-button" class="btn-large waves-effect waves-light light-green darken-2">Create</a>
  </div>
  </div>
  </div>
  </div>
</div>
<script>
  $('#create-button').on('click', function () {
    var questionType=$("#questionType").val().trim();
    console.log(questionType);
  });
</script>
