<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center light-green-text text-darken-2">Getting Started</h1>
      <div class="row center">
        <h5 class="header col s12 light">Here are the steps to get you started to our Speak and Spell app.</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/assets/images/diagmonds_@2X.png" alt="Change background for an original"></div>
</div>
