<div>
  <div class="section blue">
    <h3 class="header center white-text">Quiz Search</h3>
  </div>
</div>
<div class="row">
  <br/>
  <div class="container">
    <div class="input-field col s12">
      <input id="search" type="text" class="validate">
      <label for="search">Search</label>
    </div>
  </div>
</div>
<div class="row no-margin">
  <div class="col s10 offset-s1" id="displayQuiz"></div>
</div>

<script src="assets/js/search.js"></script>
<script src="assets/js/show_questions.js"></script>
