<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center light-green-text text-darken-2">Edit</h1>
      <div class="row">
        <div class="col s3">
        </div>
  </div>
  </div>
  <div class="parallax"><img src="/assets/images/diagmonds_@2X.png" alt="Change background for an original"></div>
  </div>
</div>
<div class="container">
  <div class="section" id="editQuiz">
    <div class="row">

    </div>
  </div>
</div>
<script>
var searchQuiz={
  getQuiz: function(){
    var currentURL=window.location.origin;
    $.get(currentURL+'/api/search/' + searchQ).done(function(data){
      console.log(data);
      searchQuiz.displayQ(data);
    });
  },
  displayQ: function(quiz){
    var quiz=quiz[0];
    var quizType;
    if(quiz.type==='trueFalse'){
      quizType="True or False";
    } else if (quiz.test==='multipleChoice') {
      quizType="Multiple Choice";
    }
    $("#editQuiz").html("<div class='row'><div class='col s12 m6'><div class='card blue-grey darken-1'><div class='card-content white-text'><span class='card-title'>"+quiz.name+"</span><p>Type: "+quizType+"</p><p>Say: 'Alexa, ask cheevo to quiz me on "+quiz.name+"'</p></div><div class='card-action' id='displayQues'><a href='#' id='quesDisBut'>Display Questions</a></div></div></div></div>");
  }
};
$("#searchButton").on('click', function(){
  searchQuiz.getQuiz();
});
</script>
