<div id="page" data-title="edit" data-id="{{quiz.id}}">
  <div class="section blue">
    <h3 class="header center white-text">Edit Quiz</h3>
  </div>
</div>
<div class="container">
  <br/>

  <!-- Form -->
  <div class="row">
    <form class="col s12">

      <!-- Name/type -->
      <div class="row">
        <div class="input-field col m6 s12">
          <input id="name" type="text" class="validate" required>
          <label for="name">Quiz Name</label>
        </div>
        <div class="input-field col m6 s6">
          <select id="questionType" data-type="{{#if isMC}}multipleChoice{{else}}trueFalse{{/if}}">
            <option value="trueFalse">True or False</option>
            <option value="multipleChoice" {{#if isMC}}selected{{/if}}>Multiple Choice</option>
          </select>
          <label>Quiz Type</label>
        </div>
      </div>

      <!-- Description -->
      <div class="row">
        <div class="input-field col s12">
          <textarea id="desc" class="materialize-textarea"></textarea>
          <label for="desc">Description</label>
        </div>
      </div>

      <!-- Input rows -->
      <div id="input"></div>
    </form>
  </div>
  <div class="section" id="buttonSection">
    <br/>
    <div class="row">
      <div class="col s8">
        <a id="addQuestion" class="btn-large waves-effect waves-light blue darken-2">Add Question
          <i class="material-icons right">note_add</i>
        </a>
        <a id="rmQuestion" class="btn-large waves-effect waves-light blue darken-2" style="display: none;">Remove Question
          <i class="material-icons right">delete</i>
        </a>
      </div>
      <div class="col s4 right-align">
        <button id="submitQuiz" class="btn-large waves-effect waves-light blue darken-2" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/form.js"></script>
