<!-- Intro -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-lighten-2">Don't stop, be Cheev'n</h1>
      <div class="row center">
        <h5 class="header col s12 light">A new way to study using Alexa from Amazon.</h5>
      </div>
      <div class="row center">
        <a href="/gettingStarted" id="download-button" class="btn-large waves-effect waves-light blue darken-2">Click here to start your educational A-Cheev-ment Journey</a>
        </div>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/assets/images/amazon-echo-dot-white.jpg" alt="cheevr"></div>
</div>
{{!-- Why Cheever? --}}
  <div class="row">
        <div class="col s12 center">

            <h4 class="blue-text"><i class="material-icons">settings_voice</i> Why Cheevr? <i class="material-icons">settings_voice</i></h4>
            <h5 class="blue-text">In the spirit of gamification, and the disemvoweling our precious English language bu internet culture, our team’s never ending search for knowledge and skills acquisition has lead us to the concept of Cheevr.</h5>
            <h5 class="blue-text">Cheevr is not just a funny name, it represents the idea of a shorter and divergent route to educational success and a-cheev-ment.  It also encourages the freedom of levelling up your intelligence and abilities without handcuffing you to traditional learning tools and practices making a-Cheevr’s the architect of their own educational learning path.</h5>
            </div>
  </div>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header left cyan-text text-darken-2">Want to learn something?</h1>
        <div class="row center">
          <h5 class="header col s12 cyan-text text-darken-2">Cheevr utilizes Alexa's voice recognition to help make us all knowing and all powerful, sentient beings.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/JustAskBackground8.png" alt="Unsplashed background img 5"></div>
  </div>
<div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h4 class="center cyan-text text-darken-2"><i class="material-icons">flash_on</i> Just Cheev'n the dream <i class="material-icons">flash_on</i></h4>
          <h5 class="light">Despite the uniqueness of Alexa’s capabilities, it has pretty much been pigeon holed into being an apparatus people only use to buy and control those things they buy. The fact that Alexa can request an Uber or regurgitate movie times using voice commands, without any friction is pretty amazing but there is a definitely some untapped potential. Cheevr hopes to stretch this usefulness past typical music playback and “how’s the weather” questions. Using Cheevr, we hope to ride the echos of Alex's voice into the educational sphere and truly create a two direction communicative learning experience.</h5>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h4 class="center cyan-text text-darken-2"><i class="material-icons">group</i>Select or Create Quizzes <i class="material-icons">group</i></h4>
          <h5 class="light">Along with creating an educational platform for Cheevrs to practice new skills, Cheevr will also provide a learning management system that allows Cheevrs to track and manage their success, while becoming a part of a Cheev’n community that will continuously grow, while concurrently growing the content available for Cheev’n a diversity of learning goals. Cheev'n gets easier and better every single day it is used. </h5>

        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h4 class="center cyan-text text-darken-2"><i class="material-icons">settings</i> Keep calm, Cheev on. <i class="material-icons">settings</i></h4>

          <h5 class="light">Cheevr is only as good as its community makes it and welcomes everyone to participate. Cheevr's goal will never be to replace any other instructional methods or platforms. Cheevr's goal is to augment learning learning experiences and provide additional learning channels and differentiated instruction. </h5>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Why alexa section  --}}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-lighten-2">Why Alexa</h1>
        <div class="row center">
          <h5 class="header col s12 light">Because Alexa is awesome! (this is not final copy)</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/background1.jpg" alt="Unsplashed background img 5"></div>
  </div>

  <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send blue-text"></i></h3>
          <h4>Alexa fun facts here</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-lighten-2">What Tech did we use Intro</h1>
        <div class="row center">
          <h5 class="header col s12 light">Tech carousel just for show</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/alex-background-white.png" alt="Unsplashed backgroundimg 5"></div>
  </div>

{{!-- What tech did we use --}}
  <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Tech Specs</h4>
          <p class="left-align light">Tech used image carousel goes here</p>
        </div>
      </div>

{{!-- opportunities and threats --}}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-lighten-2">Opportunities and threats </h1>
        <div class="row center">
          <h5 class="header col s12 light">(may delete if there isn't enough time)</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/backgroundA.jpg" alt="Unsplashed background img 5"></div>
  </div>
<div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send blue-text"></i></h3>
          <h4>Details details details</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
 {{!-- The future --}}
 <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-lighten-2">Where do we go from here?</h1>
        <div class="row center">
          <h5 class="header col s12 light">The future sounds bright!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/c3po_tupac.jpg" alt="Unsplashed background img 5"></div>
  </div>
<div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send blue-text"></i></h3>
          <h4>Future of Cheevr</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/close_encounters2.jpg"></div>
  </div>
