<a href="/auth/amazon">Login with Amazon</a>

<div class="container">
  <div class="jumbotron">
    <p>
      <h1>Speak and Spell</h1>
    </p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul id="ul"></ul>
    </div>
  </div>
</div>