<div class="parallax-container" id="index-banner">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center white-text">Don't stop, be Cheev'n</h1>
      <div class="row center">
        <h5 class="header col s12 light">A new way to study using Alexa from Amazon.</h5>
      </div>
      <br>
    </div>
  </div>
  <div class="parallax"><img alt="Change background for an original" src="/assets/images/background5.jpg"></div>
</div>
<!-- Why Cheever? -->
<div class="row">
  <div class="col s12 center">
    <h3 class="blue-text"><i class="material-icons">settings_voice</i> Why Cheevr? <i class="material-icons">settings_voice</i></h3>
    <h5 class="blue-text">In the spirit of gamification, and the disemvoweling our precious English language by internet culture, our team’s never ending search for knowledge and skills acquisition has lead us to the concept of Cheevr.</h5>
    <h5 class="blue-text">Cheevr is not just a funny name, it represents the idea of a shorter and divergent route to educational success and a-cheev-ment. It also encourages the freedom of levelling up your intelligence and abilities without handcuffing you to traditional learning tools and practices making a-Cheevr’s the architect of their own educational learning path.</h5>
  </div>
</div>
<div class="parallax-container" id="index-banner">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center white-text">Want to learn something?</h1>
      <div class="row center">
        <h5 class="header col s12 white-text">Cheevr utilizes Alexa's voice recognition to help make us all knowing and all powerful, sentient beings.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img alt="Unsplashed background img 5" src="/assets/images/amazon-echo-dot-white.jpg"></div>
</div>
<div class="section">
<!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">flash_on</i></h2>
        <h5 class="center cyan-text text-darken-2">Cheev'n the Dream</h5>
        <p class="light center">Despite the uniqueness of Alexa’s capabilities, it has pretty much been pigeon holed into being an apparatus people only use to buy and control those things they buy. Cheevr hopes to stretch this usefulness past typical music playback and “how’s the weather” questions. Using Cheevr, we hope to ride the echos of Alex's voice into the educational sphere and truly create a two direction communicative learning experience.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">group</i></h2>
        <h5 class="center cyan-text text-darken-2">'Cheev It, Your Way</h5>
        <p class="light">Along with creating an educational platform for Cheevrs to practice new skills, Cheevr will also provide a learning management system that allows Cheevrs to track and manage their success, while becoming a part of a Cheev’n community that will continuously grow, while concurrently growing the content available for Cheev’n a diversity of learning goals. Cheev'n gets easier and better every single day it is used.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">settings</i></h2>
        <h5 class="center cyan-text text-darken-2">Keep Calm, Cheev On</h5>
        <p class="light">Cheevr is only as good as its community makes it and welcomes everyone to participate. Cheevr's goal will never be to replace any other instructional methods or platforms. Cheevr's goal is to augment learning learning experiences and provide additional learning channels and differentiated instruction.</p>
      </div>
    </div>
  </div>
</div>
<!-- Why alexa section -->
<div class="parallax-container" id="index-banner">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
    </div>
  </div>
  <div class="parallax"><img alt="Unsplashed background img 5" src="/assets/images/background1.jpg"></div>
</div>
